* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
    text-decoration: none;
    border: 0;
    color: #333;
    outline: none;
}

header {
    width: 100%;
    background: #ED8A08;
    height: 0.96rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    .logo {
        width: 1.16rem;
        height: 0.40rem;
        position: absolute;
        left: 0.28rem;
        top: 0.28rem;
        a {
            display: block;
            width: 100%;
            height: 100%;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .mune_icon {
        width: 0.80rem;
        height: 0.80rem;
        position: absolute;
        right: 0.10rem;
        top: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

// .sideMenu2 {
//     width: 1.40rem;
//     height: auto;
//     background: #ED8A08;
//     padding: 0.10rem;
//     position: absolute;
//     top: 0.96rem;
//     right: 0;
//     z-index: 99;
//     transition: all 0.4s ease-in-out;
//     display: flex;
//     flex-flow: column wrap;
//     align-content: center;
//     align-items: center;
//     display: none;
//     ul {
//         width: 100%;
//         height: auto;
//         li {
//             width: 1.40rem;
//             height: 0.60rem;
//             a {
//                 display: block;
//                 width: 100%;
//                 height: 100%;
//                 text-align: center;
//                 line-height: 0.60rem;
//                 font-size: 0.24rem;
//                 color: #FFF;
//             }
//         }
//     }
// }

// .on {
//     display: block;
// }

.swiper-slide:nth-of-type(1) {
    cursor: pointer;
    .content {
        position: absolute;
        ;
        left: 0.38rem;
        top: 1.60rem;
        h3 {
            color: #ED8A08;
            font-size: 0.36rem;
            text-align: left;
        }
        p {
            color: #ED8A08;
            font-size: 0.24rem;
            text-align: left;
            margin-top: 0.20rem;
            i {
                color: #ED8A08;
                font-size: 0.18rem;
                font-style: normal;
                text-align: left;
                margin-right: 0.20rem;
            }
        }
    }
    .card {
        margin-top: 1.02rem;
        margin-left: 3.06rem;
        display: block;
        width: 3.92rem;
        height: 2.48rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.swiper-slide:nth-of-type(2) {
    cursor: pointer;
    .content {
        position: absolute;
        ;
        left: 0.38rem;
        top: 1.60rem;
        h2,
        h3,
        h4 {
            color: #ED8A08;
            font-size: 0.30rem;
            text-align: left;
        }
        h2 {
            font-size: 0.36rem;
            font-weight: normal;
        }
        h4 {
            font-size: 0.20rem;
            font-weight: normal;
        }
        h3 {
            padding-top: 0.20rem;
        }
        p {
            color: #ED8A08;
            font-size: 0.18rem;
            text-align: left;
            padding-top: 0.08rem;
            i {
                color: #ED8A08;
                font-size: 0.18rem;
                font-style: normal;
                text-align: left;
                margin-right: 0.20rem;
            }
        }
    }
}

.swiper-slide:nth-of-type(3) {
    cursor: pointer;
    .content {
        position: absolute;
        ;
        left: 0.38rem;
        top: 1.60rem;
        h3 {
            color: #ED8A08;
            font-size: 0.36rem;
            text-align: left;
        }
        p {
            color: #ED8A08;
            font-size: 0.24rem;
            text-align: left;
            padding-top: 0.10rem;
            i {
                color: #ED8A08;
                font-size: 0.18rem;
                font-style: normal;
                text-align: left;
                margin-right: 0.20rem;
            }
        }
        h4 {
            color: #ED8A08;
            font-size: 0.24rem;
            text-align: left;
            margin-left: 0.50rem;
            font-weight: normal;
        }
    }
    .card {
        margin-top: 1.02rem;
        margin-left: 3.06rem;
        display: block;
        width: 3.92rem;
        height: 2.48rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .membtn {
        display: block;
        width: 40%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 0.42rem;
        font-size: 0.44rem;
        color: #ED8A08;
        padding: 0.20rem 0.20rem;
        background: rgb(231, 202, 120);
        margin-top: 2.02rem;
        cursor: pointer;
    }
}

footer {
    margin-top: 0.96rem;
    width: 100%;
    height: 0.96rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgb(194, 165, 165);
    z-index:99;
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        a {
            display: block;
            width: 1.24rem;
            height: 100%;
            img {
                display: block;
                width: 0.54rem;
                height: 0.46rem;
                margin-bottom: 0.06rem;
                margin-left: 0.35rem;
                padding-top: 0.06rem;
            }
            span {
                display: block;
                width: 100%;
                height: 0.42rem;
                background-color: #ED8A08;
                text-align: center;
                line-height: 0.42rem;
                font-size: 0.24rem;
                color: #ffffff;
            }
        }
    }
}